   
   
   
   <div class="noAcceso">
    <div class="cteiner">
        <h1>Acceso No Autorizado</h1>
        <p>No tienes permiso para acceder a esta página.</p>
        <p><a href="/">Volver a la página de inicio</a></p>
    </div>
</div>


     <style>
        .noAcceso {
            font-family: Arial, sans-serif;
            text-align: center;
           
        }
        .cteiner {
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: 20px auto;
            max-width: 400px;
        }
        h1 {
            color: #e74c3c;
        }
    </style>