html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.vertical-line {
  border-left: 1px solid #000; /* Cambia el color y grosor según tus preferencias */
  height: 200px; /* Ajusta la altura de la línea vertical */
  margin: 0 20px; /* Añade margen para separarla de otros elementos si es necesario */
}